body {
    font-family: Georgia, Times, serif;
    font-size: 16px;
    background-image: url("../images/fundo.jpg");
    text-align: justify;
}

h1 {
    font-family: 'Crafty Girls', cursive;
    font-size: 400%;
    position: absolute;
    left: 80px;
    top: 100px;
}

h2 {
    font-family: 'Crafty Girls', cursive;
    font-size: 1.3em;
    position: absolute;
    left: 80px;
    top: 280px;
}

img {
    float: right;
    margin: 30px;
}

p.clear {
    clear: both;
    display: block;
    height: auto;
    border: 5px solid black;
    padding: 10px;
    margin: 30px;
    letter-spacing: 2,5px;
    line-height: 1.6;
}
