body {
	font-family: Georgia, Times, serif;
	font-size: 16px;
    background-color: white;
}
h1 {
	font-size: 200%;
}

h2 {
	font-size: 1.3em;
}

nav {
	background-color: rgb(255, 255, 255);
	color: rgb(12, 36, 66);
	text-align: center;
	font-weight: bold;
	padding: 10px;
	bottom: 500px;
	top: 30px;
	left: 250px;
	right: 250px;
	position: absolute;
    /*margin: 10px 10px 0px 10px;*/
}

nav ul {
	margin: 0px;
	list-style-type: none;
	padding: 5px 0px 5px 0px;
}

nav ul li {
	display: inline;
    padding: 5px 10px 5px 10px;
}
