body {
    font-family: Georgia, Times, serif;
    font-size: 16px;
    background-image: linear-gradient(orange, yellow, rgb(243, 243, 74));
}

h1 {
    font-size: 200%;
}
    
h2 {
    font-size: 1.3em;
}
table {
    border: 10px solid;
    border-color: rgb(224, 129, 4);
    border-style: groove;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-spacing: 10px;
    box-shadow: 5px 10px #888888;
    padding: 5px;
}


ol.muffin {
    list-style: url('../images/cupcake.png');
    padding-top: 5px;
    margin-left: 20px;
}

ul.saudavel {
    list-style-image: url('../images/comidasaudável.png');
    padding-top: 5px;
    margin-left: 20px;
}

ul.chocolate {
    list-style-image: url('../images/chocolatecake.png');
    padding-top: 5px;
    margin-left: 20px;
}